FocusCircle.xcodeproj/xcuserdata/Amztion.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
FocusCircle.xcodeproj/project.xcworkspace/xcuserdata/Amztion.xcuserdatad/UserInterfaceState.xcuserstate
FocusCircle.xcodeproj/project.xcworkspace/xcuserdata/Amztion.xcuserdatad/UserInterfaceState.xcuserstate
